* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#map {
  min-height: 100%;
}
#ind_precios {
  height: 50px;
  width: 100px;
  background: lightgreen;
  z-index: 999;
  position: relative;
  top: 10px;
  left: 55px;
  text-align: center;
  font-family: sans-serif;
  font-size: .8rem;
}
#ind_precios_value{
  display: block;
  font-size: 1rem;
}
